[submodule "Hane/vendor/GLFW"]
	path = Hane/vendor/GLFW
	url = https://github.com/bandit045/glfw3_4.git
[submodule "Hane/vendor/glm"]
	path = Hane/vendor/glm
	url = https://github.com/bandit045/glm
[submodule "Hane/vendor/imgui_dockingBranch"]
	path = Hane/vendor/imgui_dockingBranch
	url = https://github.com/bandit045/imgui.git
	branch = docking
